<% let pageId = 'home'; %>
<% let filePath = jsonData.pages[pageId].filePath %>
<%- include('./_inc/_header', { pageId: pageId }) %>


<section class="p-mv">
    <div class="p-mv__inner">
        <figure class="p-mv__img">
            <img src="https://placehold.jp/1800x900.png" alt="メインビジュアル" class="u-dp-pc">
            <img src="https://placehold.jp/800x800.png" alt="メインビジュアル" class="u-dp-sp">
        </figure>
    </div>
</section>

<main class="l-main">


    <section id="about" class="p-about">

        <div class="c-sec__inner">
            <div class="c-sec__bg p-about__bg"></div>

            <h2 class="c-sec__ttl">about<span>開催概要</span></h2>

            <div class="c-sec__wrap p-about__wrap">

                <dl>
                    <dt>
                        <span>開催期間</span>
                    </dt>
                    <dd>
                        <span>店舗：2022/2/1～2022/3/31</span>
                        <span>通販：2022/2/1～2022/3/31（景品交換は4/7迄）</span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>対象店舗</span>
                    </dt>
                    <dd>
                        <span>メロンブックス・フロマージュブックス全店（通販含む）</span>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <span>対象商品</span>
                    </dt>
                    <dd>
                        <span>メロンブックス・フロマージュブックスで販売する文庫・ノベルス・雑誌・画集・ムック本全て</span>
                        <span>※同人誌・成年向け商材は除く</span>
                    </dd>
                </dl>

                <div class="p-about__category">

                    <h3>メロンブックスでお買い物</h3>
                    <ul class="p-about__list">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>

                    <h3>フロマージュブックスでお買い物</h3>
                    <ul class="p-about__list">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>

                </div>

                <dl>
                    <dt>
                        <span>注意事項</span>
                    </dt>
                    <dd>
                        <span>※景品はなくなり次第終了となります。</span>
                        <span>※フェアポイントレシート(全店舗共通)は景品交換の際に必要となりますので、大切に保管頂きますようお願い致します。</span>
                        <span>※フェアポイントレシートの第三者への譲渡、転売は固く禁止し、無効とさせていただきます。</span>
                        <span>※通販フェアポイントは商品お受け取り後に付与されます。反映まで2～3日かかる場合もございますので、予めご了承ください。</span>
                        <span>※フェアに関するお問い合わせは開催店舗までお願い致します。</span>
                        <span>※店舗と通販フェアポイントは合算できかねます。予めご了承ください。</span>
                        <span>※フェア内容は予告なく、中止・変更になる場合がございます。</span>
                        <span>※景品画像はすべてイメージです。</span>
                    </dd>
                </dl>
            </div>

        </div>

    </section>

    <section id="goods" class="p-goods">

        <div class="c-sec__inner">
            <div class="c-sec__bg p-goods__bg"></div>

            <h2 class="c-sec__ttl">GOODS<span>景品＆参加作品</span></h2>

            <div class="c-sec__wrap p-goods__wrap">
                <div class="c-grid p-goods__box">
                    <div class="one">
                        <h3>10FP <span>A3メタルポスター</span></h3>
                    </div>
                    <div class="two">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                    <div class="three">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                    <div class="four">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                </div>
                <div class="c-grid p-goods__box">
                    <div class="one u-dp-sp">
                        <h3>5FP <span>メロンブックスノベル祭り</span></h3>
                    </div>
                    <div class="two">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                    <div class="one u-dp-pc">
                        <h3>5FP <span>メロンブックスノベル祭り</span></h3>
                    </div>
                    <div class="three">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                    <div class="four">
                        <div>
                            <figure style="background-image: url(https://placehold.jp/1320x1760.png);"></figure>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="points" class="p-points">

        <div class="c-sec__inner">
            <div class="c-sec__bg p-points__bg"></div>

            <h2 class="c-sec__ttl">campaign<span>フェアポイント2倍</span></h2>

            <div class="c-sec__wrap p-points__wrap">
                <ul class="p-points__list">
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                    <li>
                        <img src="https://placehold.jp/300x429.png" alt="">
                    </li>
                </ul>
            </div>

        </div>

    </section>

</main>





<%- include('./_inc/_footer', { pageId: pageId }) %>